a {    
    color: white;
}

.title {
    /*debug*/
    border: 1px dashed red;
    background-color: rgb(63, 93, 138) ;
}  

.avatar {
    width: 10%;
}

.card {
    border: 1px dashed red;
    width: 300px;
}

