a {
    text-decoration: none;
}

.avatar {
    width: 10%;
}

.card {
    width: 100%;
}

.download {
    width: 15px;
}

.bg-color-nav-footer {
    background-color: rgb(67, 87, 117) ;
}

.fb {
    width: 15px;
}

.google {
    width: 15px;
}

.twitter {
    width: 15px;
}

.linkedin {
    width: 15px;
}

.bg-footer {
    background-color: rgb(55, 67, 83)
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-floating > label {
    padding-left: 0;
}

.star {
    width: 20px;
}